body {
    background-color: #f7f4f2;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;  /* Empêche tout défilement sur la page */
}

.container {
    height: 20vh;  /* Hauteur de la fenêtre (viewport) */
      /* Empêche le scroll dans le conteneur */
}

.row {
    height: 100%;  /* S'assure que la ligne occupe toute la hauteur disponible */
}

.icon {
    font-size: 1.5rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bg-light {
    box-shadow: 5px 15px 45px #252627;
    border-radius: 0.5rem;
    overflow: hidden;
}

/* Style pour le fond derrière l'équation */
/* Centrer le container et son contenu */
.captcha-container {
    background-color: rgba(0, 255, 0, 0.1); /* Fond léger vert */
    border: 2px solid rgba(0, 255, 0, 0.4); /* Bordure verte */
    padding: 5px 10px;
    border-radius: 5px;
    display: block; /* Permet d'ajuster automatiquement la largeur */
    margin: 0 auto; /* Centre le bloc sur la page */
    text-align: center; /* Centre le texte à l'intérieur du canvas */
    width: 150px; /* Ajuste la largeur du container */
}

/* Centrer l'élément canvas et s'assurer qu'il est à la bonne taille */
#captchaCanvas {
    display: block; /* Permet de centrer le canvas */
    margin: 0 auto; /* Centre horizontalement */
    border-radius: 5px;
}


/* Style pour l'input de la réponse */
#captchaAnswer {
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc avec transparence */
    border: 1px solid #ccc; /* Bordure légère */
    margin-top: 5px; /* Espacement entre l'équation et l'input */
    display: inline-block;
    width: auto; /* Permet à l'input de s'adapter à son contenu */
    text-align: center; /* Centre le texte dans l'input */
}

/* Effet hover sur le bouton */
.btn-dark {
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease; /* Transition fluide */
}

.btn-dark:hover {
    background-color: white;  /* Fond orange au survol */
    color: black;  /* Texte noir au survol */
    border-color: rgb(2, 2, 2);  /* Bordure orange */
}

/* Couleur orange pour les textes */


/* Bordure orange sur les champs de texte au focus */
.form-control:focus {
    border-color: rgb(61, 59, 56);  /* Bordure orange */
    box-shadow: 0 0 0 0.25rem rgba(155, 152, 148, 0.25);  /* Ombre orange */
}

/* Optionnel : pour les champs où tu veux une bordure orange en état normal */
.form-control {
    border-color: #ccc;  /* Bordure normale des champs */
}

#togglePassword1 {
    font-size: 1.2rem;
    color: #888;
}
#togglePassword2 {
    font-size: 1.2rem;
    color: #888;
}
#togglePassword1:hover {
    color: #ff6347; /* Orange lorsqu'on passe la souris */
}
#togglePassword2:hover {
    color: #ff6347; /* Orange lorsqu'on passe la souris */
}