main {
    width: 100%;
    margin: auto;
    flex: 1;
}

#contenu {
    position: sticky;
    top: 5rem;
}

#total {
    padding-left: 5rem;
    padding-bottom: 5rem;
}

main {
    width: 80%;
    margin: auto;
}

/* S'assurer que le body occupe toute la hauteur */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#total {
    border: 1px solid #e0e0e0;
}

#panier {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

button.btn-outline-primary, button.btn-outline-secondary {
    font-size: 0.9rem;
    transition: background-color 0.3s, color 0.3s;
}

button.btn-outline-primary:hover {
    background-color: green;
    color: white;
}

button.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}


/* Footer collé en bas */
footer {
    background-color: #000000;
    /* Couleur de fond pour exemple */
    color: #fff;
    text-align: center;
    padding: 1em;
}

.col-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Aligne les enfants en bas */
    height: 100%;
    /* Assure que la colonne prend toute la hauteur */
}